In [3]:
a=5
b=15

In [4]:
c=a+b

In [5]:
c

20

In [6]:
c*4

80

In [7]:
print(c*4)

80

In [8]:
c*5

100

In [9]:
first_string='Python'
second_string='is a powerful'
third_string='Language'

In [10]:
type('first_string')

str

In [12]:
print(first_string)
print(second_string)
print(third_string)

Python
is a powerful
Language

In [13]:
print(first_string,second_string,third_string)

Python is a powerful Language

In [14]:
new=first_string,second_string,third_string

In [15]:
new

('Python', 'is a powerful', 'Language')

In [18]:
print('Day '*5)

Day Day Day Day Day

In [22]:
print('*'*80)
print('                         waoww python')
print('*'*80)

********************************************************************************
                         waoww python
********************************************************************************

In [23]:
L=['a','b','c','d']
L

['a', 'b', 'c', 'd']

In [24]:
L2=list[L]
L2

list[['a', 'b', 'c', 'd']]

In [37]:
x=list('SHARK')
print(x)

['S', 'H', 'A', 'R', 'K']

In [38]:
y=list('12345')
y

['1', '2', '3', '4', '5']

In [2]:
employee=[]
employee

[]

In [3]:
employee.append('Deepak')
print(employee)

['Deepak']

In [4]:
employee.insert(1,'Piyush')
employee

['Deepak', 'Piyush']

In [5]:
employee.insert(3,'Francis')
employee

['Deepak', 'Piyush', 'Francis']

In [6]:
employee_salary=[15000,28000,19000]
employee_salary

[15000, 28000, 19000]

In [7]:
employee_salary.insert(0,48000)
employee_salary

[48000, 15000, 28000, 19000]

In [8]:
len(employee_salary)

4

In [9]:
employee[0]='Rajesh'
employee

['Rajesh', 'Piyush', 'Francis']

In [10]:
employee

['Rajesh', 'Piyush', 'Francis']

In [11]:
emp_salary=employee_salary+[25000]
emp_salary

[48000, 15000, 28000, 19000, 25000]

In [12]:
marks=[25,100,35,49,55,100,26,47,25,100]

In [13]:
marks.count(25)

2

In [15]:
employee[11]='Farhaan'
employee

IndexError: list assignment index out of range

In [75]:
employee.pop(1)

'Piyush'

In [76]:
employee

['Rajesh', 'Radha', 'Francis', 'salman', 'Deepak', 'Anuv', 'Sapna', 'Paras']

In [80]:
marks.remove(100)

In [83]:
marks

[25, 26, 35, 47, 49, 55, 100, 100]

In [85]:
work_location=('Bangluru','Delhi','Mumbai','Hyderabad')

In [86]:
type(work_location)

tuple

In [87]:
work_location=list(work_location)

In [88]:
type(work_location)

list

In [89]:
work_location.append('Pune')
work_location

['Bangluru', 'Delhi', 'Mumbai', 'Hyderabad', 'Pune']

In [90]:
work_location[0]='Kolkata'
work_location

['Kolkata', 'Delhi', 'Mumbai', 'Hyderabad', 'Pune']

In [91]:
work_location=tuple(work_location)

In [93]:
type(work_location)

tuple

In [94]:
roll_numbers=set()
type(roll_numbers)

set

In [97]:
roll_numbers.add(3)
roll_numbers

{1, 2, 3}

In [98]:
dup_remove=[8,5,6,9,1,1,2,2,3,4,5,6,1,1,7,7]

In [101]:
dup_remove=set(dup_remove)
dup_remove

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
my_dict={'key1':'value','key2':'value2'}
my_dict

{'key1': 'value', 'key2': 'value2'}

In [2]:
my_dict ['key2']

'value2'

In [4]:
my_dic={'Roll_number':123,'Marks':[12,13,23],'Subject':['computer','Science','Maths']}

In [5]:
my_dic ['Subject']

['computer', 'Science', 'Maths']

In [6]:
my_dic['Subject'][1]

'Science'

In [7]:
my_dic['Marks'][0]=my_dic['Marks'][0]+30

In [8]:
my_dic['Marks']

[42, 13, 23]

In [9]:
my_dic['Marks'][2]+=20

In [10]:
my_dic['Marks']

[42, 13, 43]

In [11]:
my_dic['year']='3rd'

In [12]:
my_dic

{'Roll_number': 123,
 'Marks': [42, 13, 43],
 'Subject': ['computer', 'Science', 'Maths'],
 'year': '3rd'}

In [13]:
my_dic.keys()

dict_keys(['Roll_number', 'Marks', 'Subject', 'year'])

In [15]:
my_dic.values()

dict_values([123, [42, 13, 43], ['computer', 'Science', 'Maths'], '3rd'])

In [16]:
i=5
if i<10:
    print('It is less then 10')
else: 
    print('it is something else')

It is less then 10

In [17]:
print('It is less than 10') if i<10 else print ('It is something else')

It is less than 10

In [20]:
item_1=250
item_2=250

In [21]:
if (item_1+item_2)>=500:
    print("Your items are eligible for free shipping")
else:
    extra=500-(item_1+item_2)
    print('Please add',extra,'Rs worth of an item for free shipping')

Your items are eligible for free shipping

In [28]:
a=200
b=33
c=500

In [29]:
if a>b and c<a:
    print("Both conditions are true")
else:
    print('Both are not true')

Both are not true

In [30]:
if a>b or c<a:
    print("At least one of the conditions is true")
else:
    print('Both are not true')

At least one of the conditions is true

In [42]:
marks=34

In [43]:
if marks>=60:
    if marks>=70:
        print(marks,'-Distinction')
    else:
        print(marks,'-First class')
elif marks >=50 and marks <60:
    print(marks,'-second class')
elif marks >=35:
    print(marks,'-Pass')
else:
    print(marks,'-Fail-Better luck next time')

34 -Fail-Better luck next time

In [44]:
num1=20
num2=30

In [46]:
if num1=='20':
    print('A')
elif num2>25:
    print('B')
else:
    print('C')

B

In [48]:
print(range(100))

range(0, 100)

In [52]:
print (list(range(0,21,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [50]:
step_size=list(range(0,31,3))
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [56]:
reverse=list(range(100,-1,-10))
reverse

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [57]:
#loops for and while loops
location=['Bangaluru','Noida','Delhi','Chennai','Hyderabad']
print (location)

['Bangaluru', 'Noida', 'Delhi', 'Chennai', 'Hyderabad']

In [58]:
#list for string
location=['Bengaluru','Noida','Chennai','Hyderabad','Delhi']
for city in location:
    print(city)

Bengaluru
Noida
Chennai
Hyderabad
Delhi

In [59]:
salary=[2000,4000,5000,7000,8000,4500,3800]
for val in salary:
    if val>5500:
        print (val)

7000
8000

In [61]:
for val in salary:
    if val>5500:
        sal.append(val)
        print(sal)

[7000, 8000, 7000]
[7000, 8000, 7000, 8000]

In [62]:
salary=[2000,4000,5000,7000,8000,4500,3800]
sal=[val for val in salary if val>5500]
sal

[7000, 8000]

In [64]:
#for loop with else
for num in range (2,5):
    print('Multiplication table for-',num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print('\n')
else:
    print('*'*30)
    print('End of multiplication table')
    print('*'*30)

Multiplication table for- 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for- 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for- 4
4
8
12
16
20
24
28
32
36
40


******************************
End of multiplication table
******************************

In [3]:
count=0
while count < 10:
    count=count+1
    print(count,'Jesus is Saviour')

1 Jesus is Saviour
2 Jesus is Saviour
3 Jesus is Saviour
4 Jesus is Saviour
5 Jesus is Saviour
6 Jesus is Saviour
7 Jesus is Saviour
8 Jesus is Saviour
9 Jesus is Saviour
10 Jesus is Saviour

In [3]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=10, tm_mday=14, tm_hour=17, tm_min=12, tm_sec=9, tm_wday=0, tm_yday=288, tm_isdst=0)

In [4]:
while True:
    result=time.localtime()
    if result.tm_mday==14 and result.tm_hour==17 and result.tm_min==13:
        print('Wake up call')
    break

In [6]:
count=0
while count<10:
    count=count+1
    print(count,'Paras Massey')

1 Paras Massey
2 Paras Massey
3 Paras Massey
4 Paras Massey
5 Paras Massey
6 Paras Massey
7 Paras Massey
8 Paras Massey
9 Paras Massey
10 Paras Massey

In [7]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=10, tm_mday=14, tm_hour=17, tm_min=17, tm_sec=12, tm_wday=0, tm_yday=288, tm_isdst=0)

In [1]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=9, tm_mday=8, tm_hour=12, tm_min=54, tm_sec=38, tm_wday=6, tm_yday=252, tm_isdst=0)

In [3]:
count=0
while count<5:
    count=count+1
    print(count,'Paras massey')

1 Paras massey
2 Paras massey
3 Paras massey
4 Paras massey
5 Paras massey

In [8]:
while True:
    result=time.localtime()
    if result.tm_hour==17 and result.tm_min==18:
        print('Wake up bro')
        break

Wake up bro

In [9]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=10, tm_mday=14, tm_hour=17, tm_min=18, tm_sec=5, tm_wday=0, tm_yday=288, tm_isdst=0)

In [10]:
students=['Naveen','Rathna','Vivan','Shridhar','Piyush']

for name in enumerate(students):
    print(name)

(0, 'Naveen')
(1, 'Rathna')
(2, 'Vivan')
(3, 'Shridhar')
(4, 'Piyush')

In [11]:
for name in enumerate (students,100):
    print(name)

(100, 'Naveen')
(101, 'Rathna')
(102, 'Vivan')
(103, 'Shridhar')
(104, 'Piyush')

In [14]:
clients=['Shivam','Harshit','Farhaan','Deepak','Pankaj','Dinesh','Akash','vivek','Suraj','Mohit']

for name in enumerate(clients,1):
    print(name)

(1, 'Shivam')
(2, 'Harshit')
(3, 'Farhaan')
(4, 'Deepak')
(5, 'Pankaj')
(6, 'Dinesh')
(7, 'Akash')
(8, 'vivek')
(9, 'Suraj')
(10, 'Mohit')

In [15]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=9, tm_mday=8, tm_hour=13, tm_min=18, tm_sec=12, tm_wday=6, tm_yday=252, tm_isdst=0)

In [12]:
students_name=['Naveen','Rathna','vivan','Shridhar','Piyush','Aditya']
students_marks=[55,74,62,81,55,86]
students_age=[21,19,20,23,18,22]
students_city=['Delhi','Noida','Gurugram','Faridabad','Delhi','Ghaziyabad']

students_detail=list(zip(students_name,students_marks,students_age,students_city))
students_detail

[('Naveen', 55, 21, 'Delhi'),
 ('Rathna', 74, 19, 'Noida'),
 ('vivan', 62, 20, 'Gurugram'),
 ('Shridhar', 81, 23, 'Faridabad'),
 ('Piyush', 55, 18, 'Delhi'),
 ('Aditya', 86, 22, 'Ghaziyabad')]

In [13]:
name,marks_num,age,city=zip(*students_detail)

In [8]:
#Break and continue statement (loop)
#use of break statement inside loop

city=['Bangaluru','Delhi','Noida','Hyderabad','Mumbai']
for val in city:
    if val=='Hyderabad':
        break
    print(val)

Bangaluru
Delhi
Noida

In [9]:
#continue loop

city=['Bangaluru','Delhi','Noida','Hyderabad','Mumbai']

for pan in city:
    if pan=='Hyderabad':
        continue
    print(pan)

Bangaluru
Delhi
Noida
Mumbai

In [17]:
def say_hello():
    print('This is just a sample')

In [18]:
say_hello()

This is just a sample

In [19]:
def greeting(name):
    print('Hello',name)

In [13]:
greeting('Paras')

Hello Paras

In [24]:
def sal_inc (fixed_sal,house_rent):
    total_sal=(fixed_sal+house_rent)
    
    if total_sal <=9000:
        total_sal+1000
    else:
        total_sal
print('Your new salary =',sal_inc(6500,2000))

Your new salary = None

In [25]:
def sal_inc(fixed_sal,house_rent):
    total_sal=(fixed_sal+house_rent)
    
    if total_sal <=9000:
        return total_sal+1000
    else:
        return total_sal

In [26]:
print('Your new salary =',sal_inc(6500,2000))

Your new salary = 9500

In [1]:
#lambda function
add_num=lambda y:y+30
print(add_num(50))

80

In [2]:
multi_num=lambda a,b:a*b
print(multi_num(15,20))

300

In [5]:
#args and kwargs
def my_fun (*args):
    for i in args:
        print('My args:-',i)

In [6]:
my_fun('India','Kerela','Delhi',550345)

My args:- India
My args:- Kerela
My args:- Delhi
My args:- 550345

In [7]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        print(key,'=',value)

In [9]:
my_kwargs(students=['Ram','Shyam','Deepak','Amit'],Marks=[70,75,81,61])

students = ['Ram', 'Shyam', 'Deepak', 'Amit']
Marks = [70, 75, 81, 61]

In [10]:
s='This Batch Rocks'
print(s)
s[2:9]
s[-1]
s[::2]

This Batch Rocks

'Ti ac ok'

In [14]:
def grace_marks(marks):
    if marks==31:
        return(marks+2)
    elif marks==32:
        return(marks+1)
    else:
        return marks

In [15]:
score=[50,34,32,33,31,35]

In [16]:
total=list(map(grace_marks,score))
print(total)

[50, 34, 33, 33, 33, 35]

In [17]:
def filter_marks(marks):
    if marks <35:
        return marks

In [18]:
score=[50,34,32,33,31,35]

In [19]:
failed=list(filter(filter_marks,score))
failed

[34, 32, 33, 31]

In [20]:
list(map(lambda var:var%2==0,[1,2,3,4]))

[False, True, False, True]

In [21]:
list(filter(lambda var:var%2==0,[1,2,3,4]))

[2, 4]

In [1]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=9, tm_mday=10, tm_hour=14, tm_min=11, tm_sec=12, tm_wday=1, tm_yday=254, tm_isdst=0)

In [2]:
while True:
    result=time.localtime()
    if result.tm_hour==14 and result.tm_min==14:
        print('Uth ja bhai')
        break

Uth ja bhai

In [5]:
def greeting(name):
    print('Kya Haal Hai',name)

In [6]:
greeting('paras')

Kya Haal Hai paras

In [7]:
def hello():
    print('this is just a sample')

In [9]:
hello()

this is just a sample

In [10]:
#without return
def sal_inc(fixed_sal, house_rent):
    total_sal=(fixed_sal+house_rent)
    if total_sal<=9000:
        total_sal+1000
    else:
        total_sal

In [11]:
print('Your new salary=',sal_inc(6500,2000))

Your new salary= None

In [12]:
#with return
def sal_inc(fixed_sal,house_rent):
    total_sal=(fixed_sal+house_rent)
    if total_sal<=9000:
        return total_sal+1000
    else:
        return total_sal

In [13]:
print('Your new salary =',sal_inc(6500,2000))

Your new salary = 9500

In [14]:
#Lambda Function
add_num= lambda y:y+30
print(add_num(50))

80

In [15]:
multi_num=lambda a,b:a*b
print(multi_num(15,20))

300

In [16]:
def my_fun(*args):
    for i in args:
        print('My args:-',i)

In [17]:
my_fun('India','Kerela','Delhi',55348)

My args:- India
My args:- Kerela
My args:- Delhi
My args:- 55348

In [18]:
def my_kwargs (**kwargs):
    for key, value in kwargs.items():
        print(key,'=',value)

In [19]:
my_kwargs(students=['Ram','Shyam'],Marks=[70,75])

students = ['Ram', 'Shyam']
Marks = [70, 75]

In [23]:
def grace_marks(marks):
    if marks==31:
        return(marks+2)
    elif marks==32:
        return(marks+1)
    else:
        return marks

In [24]:
score=[50,34,32,33,31,35]

In [25]:
total=list(map(grace_marks,score))
print(total)

[50, 34, 33, 33, 33, 35]

In [26]:
def filter_marks(marks):
    if marks<33:
        return marks

In [27]:
score=[50,34,32,33,31,35]

In [28]:
failed=list(filter(filter_marks,score))
failed

[32, 31]

In [29]:
list(map(lambda var:var%2==0,[1,2,3,4]))

[False, True, False, True]

In [30]:
list(filter(lambda var:var%2==0,[1,2,3,4]))

[2, 4]

In [33]:
extra_marks=10
def tol_score_glob():
    print("Print inside fuction & total is",35+extra_marks)
    tol_score_globe()

In [34]:
print("print outside the function and total is",35+extra_marks)

print outside the function and total is 45

In [38]:
def tol_score_loc():
    some_marks=50
    print("print inside finction and total is",50+some_marks)
tol_score_loc()

print inside finction and total is 100

In [ ]:
print("Print inside finction and total is",50+some_marks)

In [43]:
def local_global():
    global var12
    var12="This is Fantastic"
    print(var12)

In [44]:
local_global()

This is Fantastic

In [ ]:
count=0
while count<10:
    count= count+1
    print(count,'Jesus')